<div class="login-box">
  <div class="login-logo">
      <a class="modal-game-brand"><span class="modal-brand">Game<img src="../../assets/images/gameXchange-brand.png" width="60" height="60" alt="">Change</span></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Insira seu login e senha para começar!</p>
    <form>
      <div class="form-group has-feedback" id="input-username">
        <input type="email" id="username" #username required name="login" class="form-control" value="jose@gmail.com" placeholder="usuário" (keyup)="removeWarning('#input-username','#msgUser');">
        <small style="color:#dd4b39" id="msgUser"></small>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" id="input-password">
        <input type="password" id="password" #password required name="login" class="form-control" value="123456" placeholder="senha" (keyup)="removeWarning('#input-password','#msgPassword');">
        <small style="color:#dd4b39" id="msgPassword"></small>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Lembre-se de mim
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" (click)="Logar(username.value,password.value)" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- /.social-auth-links -->

    <a href="#" style="color: #666">Esqueci minha senha</a><br>
    <a [routerLink]="['registrarusuario']" class="text-center" style="color: #666" data-dismiss="modal">Criar conta</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->