<div class="register-box">
    <div class="register-logo">
        <a class="modal-game-brand"><span class="modal-brand">Game<img src="../../assets/images/gameXchange-brand.png" width="60" height="60" alt="">Change</span></a>
    </div>
  
    <div class="register-box-body">
      <p class="login-box-msg">Junte-se ao GameXchange!</p>
  
      <div id="registerUser">
        <div class="form-group has-feedback" id="input-register-name">
          <input type="text" id="registerName" #RegisterName class="form-control " placeholder="Nome completo" name="register" (keyup)="removeWarning('#input-register-name', '#msgRegisterName');">
          <small style="color:#dd4b39" id="msgRegisterName"></small>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" id="input-register-nickname">
            <input type="text" id="registerNickname" #RegisterNickname class="form-control" placeholder="Nickname" name="register" (keyup)="removeWarning('#input-register-nickname', '#msgRegisterNickname');">
            <small style="color:#dd4b39" id="msgRegisterNickname"></small>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
        <div class="form-group has-feedback" id="input-register-email">
          <input type="email" id="registerEmail" #RegisterEmail class="form-control" placeholder="E-mail" name="register" (keyup)="removeWarning('#input-register-email', '#msgRegisterEmail');">
          <small style="color:#dd4b39" id="msgRegisterEmail"></small>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback cellphone">
          <div class="form-group has-feedback" id="input-register-ddd">
            <input type="text" id="registerDDD" #RegisterDDD class="my-form-control ddd" placeholder="DDD" name="register" (keyup)="removeWarning('#registerDDD', '#msgRegisterCellphone');">
          </div>
          <div class="form-group has-feedback" id="input-register-phone">
            <input type="text" id="registerPhone" #RegisterPhone class="my-form-control cellphone-input" placeholder="Celular" name="register" (keyup)="removeWarning('#registerPhone', '#msgRegisterCellphone');">
            <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
          </div>
          <small style="color:#dd4b39;position: absolute;top: 37px;left: 1%;white-space: nowrap;" id="msgRegisterCellphone"></small>
        </div>
        <div class="form-group has-feedback" id="input-register-password">
          <input type="password" id="registerPassword" #RegisterPass class="form-control" placeholder="Senha" name="register" (keyup)="removeWarning('#input-register-password','#msgRegisterPassword');">
          <small style="color:#dd4b39" id="msgRegisterPassword"></small>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" id="input-register-repassword">
          <input type="password" id="registerRePassword" #RegisterRePass class="form-control" placeholder="Repetir senha" name="register" (keyup)="removeWarning('#input-register-repassword', '#msgRegisterRepeatPassword');">
          <small style="color:#dd4b39" id="msgRegisterRepeatPassword"></small>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div> -->
          <!-- /.col -->
          <div class="col-xs-4">
            <button (click)="RegisterUser(RegisterName.value,RegisterNickname.value,RegisterEmail.value,RegisterPass.value,RegisterRePass.value,RegisterDDD.value,RegisterPhone.value);" class="btn btn-primary btn-block btn-flat">Criar conta</button>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <br>
      <a  data-toggle="modal" data-target="#modal-login" class="text-center" style="cursor:pointer;">Já possuo uma conta</a>
      <div class="modal" id="modal-register-success">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="close();" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
              <div>
                <h3 class="header-container">Cadastro realizado com sucesso!</h3>
                <img class="img-notification-register" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1a_2dA37HFFpmmXCwa4pyZq4k4ESwPMoQ-a-6H4EjRgA-vmNS" alt="" >
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- /.register-box -->
  
  
  