<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Bem vindo Guido!</h3>
  </div>
  <div class="box-body">
    <!-- /.col -->
    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title">Novidades</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src="https://cdn.ome.lt/GJogpbpFr1A3uqJA9b9jw3Cq6Sg=/970x360/smart/uploads/conteudo/fotos/Spider-man.jpg" alt="First slide">

                <div class="carousel-caption">
                  <span class="text-notice">Veja como seria Spider-Man se fosse criado pela produtora de Mortal Kombat</span>
                </div>
              </div>
              <div class="item">
                <img src="https://cdn.ome.lt/KYGoNoEvVFLuv8o_2Hox_kn9aNI=/970x360/smart/uploads/conteudo/fotos/pokemon-lets-go_S8q8EE2.jpg" alt="Second slide">

                <div class="carousel-caption">
                  <span class="text-notice">Diretor explica porque Let's Go não terá batalhas com Pokémon selvagens</span>
                </div>
              </div>
              <div class="item">
                <img src="https://cdn.ome.lt/MNsnz6iN9dpxTssRPIyyuo1GKYc=/970x360/smart/uploads/conteudo/fotos/minecraft_fws386F.jpg" alt="Third slide">

                <div class="carousel-caption">
                  <span class="text-notice">Microsoft gostaria de trazer jogadores do PS4 para cross-play de Minecraft</span>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="fa fa-angle-right"></span>
            </a>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
      <div class="col-sm-6 col-md-4 hidden-sm hidden-xs" data-content-type="last-news" style="margin-left: 15%;">

        <div class="banner banner--arroba hidden-xs">
          <div class="banner__text">
            <span class="banner__text__rotate">Publicidade</span>
          </div>
          <div class="banner__content">
            <!-- <div id="div-gpt-ad-arroba-1" style="height:250px; width:300px;"></div> -->
          </div>
        </div>     
        <section class="section section--popular section--popular--listing section--games" data-content-type="popular" style="">

            <h2 class="section__title">Últimos Reviews</h2>

            <div class="news-list">

              
              <div class="news-list__item">
                <a href="/playstation/criticas/review-fifa-19" class="news-list__item__image">
                  <img src="//cdn.ome.lt/4Yj6aJZJHelFRZMg1R30lO_dvBw=/100x100/smart/extras/conteudos/fifa-19-review.jpg" alt="">
                </a>

                <div class="news-list__item__content">
                  <a href="/playstation/criticas/review-fifa-19" class="news-list__item__content__title">Review: FIFA 19</a>
                  <div class="news-list__item__content__info">
                    <div class="news-list__item__content__info__description news-list__item__content__info__description--listing">
                      <div class="review__platforms">
                        <a class="news-list__item__link"> 
                        </a>
                      </div>
                      <div class="review__datetime"></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="news-list__item">
                <a href="/xbox/criticas/review-forza-horizon-4" class="news-list__item__image">
                  <img src="//cdn.ome.lt/KQqUKSE3O2HZMwRNUDH-RXJAk-4=/100x100/smart/extras/conteudos/Forza_Horizon_4_capa_3qtSjnR.jpg" alt="">
                </a>

                <div class="news-list__item__content">
                  <a href="/xbox/criticas/review-forza-horizon-4" class="news-list__item__content__title">Review: Forza Horizon 4</a>
                  <div class="news-list__item__content__info">
                    <div class="news-list__item__content__info__description news-list__item__content__info__description--listing">
                      <div class="review__platforms">
                        <a class="news-list__item__link">
                        </a>
                      </div>
                      <div class="review__datetime"></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="news-list__item">
                <a href="/playstation/criticas/review-nba-live-19" class="news-list__item__image">
                  <img src="//cdn.ome.lt/rCCNXI-GAOcFCp9QvWDbthiI9Bc=/100x100/smart/extras/conteudos/header_14JYIYb.jpg" alt="">
                </a>

                <div class="news-list__item__content">
                  <a href="/playstation/criticas/review-nba-live-19" class="news-list__item__content__title">Review: NBA Live 19</a>
                  <div class="news-list__item__content__info">
                    <div class="news-list__item__content__info__description news-list__item__content__info__description--listing">
                      <div class="review__platforms">
                        <a class="news-list__item__link">
                        </a>
                      </div>
                      <div class="review__datetime"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-list__item">
                <a href="/playstation/criticas/review-madden-nfl-19" class="news-list__item__image">
                  <img src="//cdn.ome.lt/hEqBVaen007fBDo6WPRSv0cDv4k=/100x100/smart/extras/conteudos/madden-nfl-19.png" alt="">
                </a>
                <div class="news-list__item__content">
                  <a href="/playstation/criticas/review-madden-nfl-19" class="news-list__item__content__title">Review: Madden NFL 19</a>
                  <div class="news-list__item__content__info">
                    <div class="news-list__item__content__info__description news-list__item__content__info__description--listing">
                      <div class="review__platforms">
                        <a class="news-list__item__link">
                        </a>
                      </div>
                      <div class="review__datetime"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-list__item">
                <a href="/pc/criticas/review-shadow-of-the-tomb-raider" class="news-list__item__image">
                  <img src="//cdn.ome.lt/i_LcvH7NpGb4FSx_sFpCTXVVkaQ=/100x100/smart/extras/conteudos/shadow-tomb-raider.jpg" alt="">
                </a>
                <div class="news-list__item__content">
                  <a href="/pc/criticas/review-shadow-of-the-tomb-raider" class="news-list__item__content__title">Review: Shadow of the Tomb Raider</a>
                  <div class="news-list__item__content__info">
                    <div class="news-list__item__content__info__description news-list__item__content__info__description--listing">
                      <div class="review__platforms">
                        <a class="news-list__item__link">
                        </a>
                      </div>
                      <div class="review__datetime"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-list__item">
                <a href="/playstation/criticas/review-naruto-to-boruto-shinobi-striker" class="news-list__item__image">
                  <img src="//cdn.ome.lt/gGzPNyJ1gQVDuoyiJWqQre7CIhA=/100x100/smart/extras/conteudos/naruto_0.jpg" alt="">
                </a>
                <div class="news-list__item__content">
                  <a href="/playstation/criticas/review-naruto-to-boruto-shinobi-striker" class="news-list__item__content__title">Review: Naruto to Boruto: Shinobi Striker</a>
                  <div class="news-list__item__content__info">
                    <div class="news-list__item__content__info__description news-list__item__content__info__description--listing">
                      <div class="review__platforms">
                        <a class="news-list__item__link">                         
                        </a>
                      </div>
                      <div class="review__datetime"></div>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
        </section>       
        <div class="banner banner--arroba hidden-xs">
          <div class="banner__text">
            <span class="banner__text__rotate"></span>
          </div>
          <div class="banner__content">
            <!-- /283405803/Home_Banner_Meio -->
            <div id="div-gpt-ad-halfpage-1" style="height: 600px; width: 300px;"></div>
          </div>
        </div> 
        <div class="banner banner--arroba hidden-xs">
          <div class="banner__text">
            <span class="banner__text__rotate"></span>
          </div>
          <div class="banner__content">
            <div id="div-gpt-ad-arroba-2" style="height:250px; width:300px;"></div>
          </div>
        </div>
      </div>
  </div>
</div>